# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Custom stuff
.pytype/
.pytest_cache
ring_token.cache
event_files/
