span {
    border: 1px solid black;
}

/* Top level container */

#container_main {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* First level container */

#video_container {
    display: flex;
    flex-direction: row;
    height: 300px;
}

#controls_container {
    display: flex;
    height: 50px;
}

#history_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/* Second level container */

.video_container {
    display: flex;
    flex-grow: 1;
}

.history_container {
    display: flex;
    flex-grow: 1;
}
